.home {
    margin-top: 3rem;
    padding: 5rem;
    border-radius: 3px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__logo img {
        width: 100%;
        max-width: 60%;
        margin-bottom: 0rem;
    }
}

@media (max-width:600px)  {
    .home {
        padding: 1rem;

        &__logo img {
            max-width: 80%;
            margin-bottom: 0rem;
        }
    } 
}