.evolutioncard {
  margin: 0 auto;
  margin-top: 10rem;
  width: 100rem;
  height: 190px;
  background: $color-white;
  border-radius: 1rem;
  box-shadow: 6px 6px 12px #334780,
  -6px -6px 12px #425DA6;

  &:hover {
      transform: scale(1.1);
      transition: 0.3s ease-in-out;
  }

  & img {
      height: 180px;
      border-bottom: 4px solid $color-grey;
  }

  & h2 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-top: 1em;
  }    

}

@media (max-width:650px)  {
  .pokemoncard {
      padding: 1rem;
  }
}