.evolutioncard {
  margin: 0 auto;
  margin-top: 0rem;
  width: 90rem;
  height: 100%;
  background: $color-white;
  border-radius: 0 0 10px 10px;
  box-shadow: 6px 6px 12px #425DA6 .8,
  -6px -6px 12px #425DA6;
  justify-content: space-between;

  & button {
    border: none;
    background: none;
  }

  & h2 {
      padding: 1rem;
      margin-bottom: 1rem;
  }    

  & .evolutioncard__item {
      display: inline-block;
      padding-right: 5rem;
      padding-left: 5rem;
      vertical-align: top;

      &:hover {
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
    }
  }

  & .evolutioncard__item h3 {
      margin: 0;
      padding-bottom: 1rem;
  }

  & .pokemonevolution__img {
      height: 12rem;
      border-bottom: 4px solid $color-grey;
  }

}

@media (max-width:1070px)  {
  .evolutioncard {
    margin: 0 auto;
    width: 90%;
    max-width: 100rem;
    padding: 1rem;

    & .evolutioncard__item {
      padding: 1rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
      margin-right: 0;
    }

    & .pokemonevolution__img {
      border: 2px solid $color-grey;
      border-radius: 8px;
  }

  }
}

@media (max-width:650px)  {
  .evolutioncard {
    width: 90%;
    max-width: 100rem;
    padding: 1rem;

    & .evolutioncard__item {
      padding: 1rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
      margin-right: 0;
  }

}
}