.search__form {
    // background-color: $color-grey-light;
    padding: 5rem;
    border-radius: 3px;

    & input,
    & button {
        padding: 1rem 2rem;
        font-size: 1.6rem;
        border: 1px solid $color-grey-light;
        outline: none;
        margin: 1rem;
        height: 5rem;

    }

    & input {
        width: 70%;
        border-radius: 50px;
        border-left: 0;
    }

    & button{
        width: 10%;
        border-radius: 50px;
        background-color: $color-tertiary;
        color: $color-primary-dark;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
            background-color: $color-primary-dark;
            color: $color-tertiary;
            transition: 0.3s ease-in-out;
        }
    }
}

@media (max-width:650px)  {
    .search__form {
        padding: 1rem;
    
        & input {
            width: 80%;
        }
    
        & button {
            width: 20%;
        }
    }
}